# General ignores
**/target
**/node_modules
**/dist
**/.git
**/.idea
**/.vscode
**/.vinxi
**/.output
**/Dockerfile
**/.dockerignore
**/.cargo
**/frontend/.env
**/frontend/.env.local

# Ignore files created by editors or OS
*.DS_Store
*.log
*.tmp
*.swp
*.bak